body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
  }

  h1 {
    text-align: center;
    font-size: 220%;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .cityFiles {
    margin-left: 0.2%;
  }

  #duomoInfo {
    position:fixed;
    margin-top: 18%;
    margin-left: 30.7%;
    width: 15px;
    height: 15px;
    background-color: rgb(200, 11, 11);
  }

  #duomoInfo:hover {
    transform: scale(1.2);
    background-color: rgb(111, 95, 98);
  }

.hidden {
    display: none;
}
  
  .map {
    width: 110%;
    height: 700px;
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 2.0s ease; 
  }
  
  #map-marker-milan {
    position: absolute;
    margin-top: 18%;
    margin-left: 30.7%;
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(200, 99, 11); 
    border-radius: 50%;
    line-height: 20px;
    transition: transform 0.3s ease;
  }

  #map-marker-florence {
    position: absolute;
    margin-top: 29.9%;
    margin-left: 41.1%;
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(200, 99, 11);  
    border-radius: 50%;
    line-height: 20px;
    transition: transform 0.3s ease;
  }

  #map-marker-rome {
    position: absolute;
    margin-top: 43%;
    margin-left: 47%;
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(200, 99, 11); 
    border-radius: 50%;
    line-height: 20px;
    transition: transform 0.3s ease;
  }

  #map-marker-venice {
    position: absolute;
    margin-top: 18.3%;
    margin-left: 46.5%;
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgb(200, 99, 11); 
    border-radius: 50%;
    line-height: 20px;
    transition: transform 0.3s ease;
  }
  
  #map-marker-milan:hover {
    transform: scale(1.2);
    background-color: rgb(111, 95, 98);
  }

  #map-marker-florence:hover {
    transform: scale(1.2);
    background-color: rgb(111, 95, 98);
  }

  #map-marker-rome:hover {
    transform: scale(1.2);
    background-color: rgb(111, 95, 98);
  }

  #map-marker-venice:hover {
    transform: scale(1.2);
    background-color: rgb(111, 95, 98);
  }
  
  
#mapTitle {
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
